<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An Inquiry into Zeros and Ones">
  <meta name="author" content="Chuanqi Sun">
	<!-- Open Graph -->
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="An Inquiry into Zeros and Ones">
	<meta property="og:type" content="article">
	<meta property="og:image" content="/assets/stack-diver.jpg">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🔱</text></svg>" />
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	{% include "partials/nav.njk" %}
	<header>
		<h1>{{ title }}</h1>
		<div><time datetime="{{date | machineDate}}">{{ date | humanDate }}<time></div> <div>{% for tag in keywords %} #{{ tag }} {% endfor %}</div>
	</header>
	<main>
		{{ content | safe }}
	</main>
</body>
</html>