:root {
  color-scheme: light dark;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 120%;
  line-height: 1.5;

  max-width: 60rem;
  margin: 1rem auto 2rem auto;
  padding: 0 1rem;
}

blockquote {
  margin-inline: 0;
  padding-inline-start: 1.5rem;
  border-left: 1px solid ButtonBorder;
}

img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

table {
  width: 100%;
  border: 1px solid ButtonBorder;
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    padding: 2px 8px;
  }

  thead th {
    font-weight: bold;
    border-bottom: 1px solid ButtonBorder;
  }
}
