:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;

  max-width: 60rem;
  margin: auto;
}

blockquote {
  margin-inline-start: 1.5rem;
  padding-inline-start: 1.5rem;
  border-left: 1px solid ButtonBorder;
}
